config.ini
composer.lock
data/*
public_html/files/*
vendor
oauth.ini
*.log
composer.phar
.vagrant
connections.csv
ENV
public_html/components
croptool-secret-key.txt
node_modules
public_html/index.html
public_html/js
public_html/css
