# Add `127.0.0.1 croptool.toolforge.org` to your /etc/hosts

https://croptool.toolforge.org:7890/
tls self_signed
root public_html
proxy /api http://208.80.155.131/ {
    header_upstream Host https://croptool.toolforge.org/
}
proxy /files http://208.80.155.131/ {
    header_upstream Host https://croptool.toolforge.org/
}
