{
    auto_https disable_redirects
}

localhost:7878 {
    tls internal

    # Enable static file server
    root * /var/www/html/public_html
    file_server

    # Serve PHP through php-fpm:
    rewrite /api/* /backend.php
    php_fastcgi * phpfpm:9000
}
