<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./suites/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="Intuition Test Suite">
			<directory>./suites/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./</directory>
			<exclude>
				<directory>./suites</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
