* {
    margin: 0;
}
html, body {
    height: 100%;
    background: #fcfcfc;
}

h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
    font-size: 30px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 24px;
}

.container2 {
    padding: 0 2vw;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
    height: 35px; /* .push must be the same height as .footer */
}
footer {
    text-align: center;
    background: #333;
    color: white;
    font-size: 85%;
    padding: 4px;
    line-height: 110%;
}
footer a:link, footer a:visited {
    color: #83B4DE;
}
footer p {
    margin: 0;
}
label {
    font-weight: normal;
}
.transparentBg {
    background-image: url("../res/transparent.png");
}

.row2 {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
}
.leftcol {
    display: inline-block;
    -ms-flex: 0.5 0 auto;
    flex: 0.5 0 auto;
    padding: 10px 10px 10px 0;
}
.leftcol .inner {
    box-shadow: 3px 3px 10px #999;
}
.rightcol {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px #999;
}

form {
    margin-bottom:.8em;
}

/* From: http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Avoid flicker on popover */
.checkbox-inline, .radio-inline {
    margin-left: 0 !important;
    padding-right: 10px;
}

.cropdim {
    display: flex; flex-wrap: wrap; align-items: center;
justify-content: space-between;
}
.cropdim label {
  flex-basis: 110px;
  text-align: right;
}
.cropdim input {
  width: 50px;
}

.mainLoader {
  height: 6px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.mainLoader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 6px;
  background-color: #2980b9;
  animation: mainLoaderLoading 2s linear infinite;
}

@keyframes mainLoaderLoading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

#cropbox {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
#cropbox.imageloading {
  opacity: 0.2;
}